*{
    padding:0;
    margin:0;
    
}
#header{
    background-image: url(banner.jpg);
    height:80vh;
    background-size:cover;
    background-position:center;
    
    
}
.navbar-nav li a{
    float:right;
    color:#f8f9fa!important;
    
    
}
.namelogo{
    color:#f8f9fa;
    margin:30px;
    font-size:40px;
}
.fa-bars{
    color:#f8f9fa;
    font-size:30px;
    }
    

.navbar-toggler{
    border:none!important;
    outline:none!important;
}
/* ----------welcome text------------- */
.welcome{
    padding:50px 100px;
    margin-top:-140px;
    background-color:#fff;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.2);
    
}
.welcome h1{
    color:#333;
    
} 
.welcome .home-btn{
    margin-top:10px;
    padding:10px 30px;
    border-radius:20px;
    color:#fff;
    background-color:#d93e14;
}